@font-face {
    font-family: 'paper-R';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Paperlogy/Paperlogy-4Regular.eot');
    src: url('/font/Paperlogy/Paperlogy-4Regular.eot?#iefix') format('embedded-opentype'),
        url('/font/Paperlogy/Paperlogy-4Regular.woff2') format('woff2'),
        url('/font/Paperlogy/Paperlogy-4Regular.woff') format('woff'),
        url('/font/Paperlogy/Paperlogy-4Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'paper-L';
    font-weight: 700;
    font-style: normal;
    src: url('/font/Paperlogy/Paperlogy-7bold.eot');
    src: url('/font/Paperlogy/Paperlogy-7bold.eot?#iefix') format('embedded-opentype');
    font-display: swap;
}

@font-face {
    font-family: 'plus-R';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Moneygraphy-Pixel.eot');
    src: url('/font/Moneygraphy-Pixel.eot?#iefix') format('embedded-opentype'),
        url('/font/Moneygraphy-Pixel.woff2') format('woff2'),
        url('/font/Moneygraphy-Pixel.woff') format('woff'),
        url('/font/Moneygraphy-Pixel.ttf') format("truetype");
    font-display: swap;
}

* {
    font-family: 'paper-R';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'paper-R';
	vertical-align: baseline;
    line-height: 1.3;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    transition: opacity 0.5s ease-in-out;
	line-height: 1;
    background: linear-gradient(180deg, rgba(34,193,195,0.3337710084033614) 0%, rgba(214,169,240,1) 55%, rgba(34,193,195,0.54) 100%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {width: 100%;}
a, button {font-family: 'plus-R';text-decoration: none; color: #000; cursor: pointer;}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
